<div class="coc_home">
    
    <div class="coc_image_div">
        <img [src]="imageSrc" [alt]="imageAlt" style="width: 210px;"/>

    </div>
    <h2 class="coc_title">City Of Cuttack</h2>
    <div class="coc_button_div">
        <button class="btn btn-primary coc_button" role="button" (click)="onBegin()" >Begin</button>
    </div>
    <div class="coc_button_div">
        <button class="btn btn-primary coc_button" role="button" (click)="onReport()">Report</button>
    </div>
    <div class="coc_button_div">
        <button class="btn btn-primary coc_button" role="button">Privacy</button>
    </div>
    <div class="coc_button_div">
        <button class="btn btn-primary coc_button" role="button" (click)="onSettings()">Settings</button>
    </div>
</div>